@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



@layer base {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Raleway', sans-serif;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    p {
        font-size: 14px;
    }
    
}

@layer components {
    .choose-us-item {
        position: relative;
        padding-bottom: 4px;
        padding-left: 80px;
    }

    .active{
        background-color: transparent;
         color: #129CF3;
    }

    .section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}



    
  }

